body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
   display: flex; 
   justify-content: space-between;
   padding: 10px;
   background-color: #cccccc;
   border-bottom: 1px solid gray;
   box-shadow: 1px 1px gray;
}

.navbar > li{
    display: flex;
    align-items: center;
}

.logo{
    height: 70px;
}

.button{
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder; 
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton{
    background-color: green;
    color: white;
}

.mainButton:hover{
    box-shadow: 1px 1px greenyellow ;
}

.secundaryButton{
    background-color: rgb(92, 201, 201);
    color: white;
}

.secundaryButton:hover{
    box-shadow: 1px 1px blue ;
}

.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within{
    border: 1px solid blue;
}

.buscar > input {
    outline: none;
    border: 0px;

}

.iconoBusqueda:hover {
color: blue;
}