p {
    color: red;
}

h3 {
    color: orange;
}

a {
    background-color: green;
}

#parrafo2 {
    color: green;
}

.parrafoazul{
    color: blue;
    width: 350px;
}

.frase{
    color: slateblue;
    color: tomato;

}

.frase{
    color: green;
}

.contenedorConMargen{
    margin: ;
}